#test-1 {
    width: 200px; height: 105px; color: #000000 ; background-color: #22E214;
margin-right:  50%; margin-left: 47%;border: 5px ;border-color: darkred; position: fixed; }

#test { 
position: relative; width: 120px; height: 70px; background-color: deepskyblue;
margin: 34px 50% 0
50%;}
#Amanda { color: blue; text-size-adjust: 122px;margin-left: 40%;

}